body {
  padding-top: 70px;
  padding-bottom: 60px;
  font-family: Calibri, Arial, "Helvetica Nue", sans-serif;
  background-color: #D4D4D4;
  font-size: 16px;
}

#footer {
  padding-top: 15px;
  text-align: center;
  background: #B2B2B2;
  height: 35px;
  vertical-align: bottom;
  border-top: solid 1px gray;
  font-size: 14px;
  margin-left: auto;
  margin-right: auto;
}

#footer a:link {
  color: #333333;
}

#footer a:visited {
  color: #333333;
}

.footer-text {
  padding-right: 30px;
  padding-left: 30px;
}

.left {
  text-align: left;
}

.new_post {
  width: 70%;
}

.bold {
  font-weight: bold;
}

.background-img {
	background-image: url('../img/desk-main.png');
}

table.posts td {
  padding: 7px;
  padding-bottom: 10px;
  border-bottom: 1px gray solid;
}

td.left {
  text-align: left;
}

td.center {
  text-align: center;
}

table.profile td {
  padding: 7px;
  padding-bottom: 10px;
  padding-right: 30px;
}



/* 
 * Override default bootstrap style
 */
.navbar .brand {
  color: #FFFFFF;
  text-shadow: none;
}

.navbar-inner {
  background-image: linear-gradient(to bottom,#4B4B4B,#3F3F3F);
}

.navbar .nav>li>a {
  text-shadow: none;
  color: #B1B1B1;
}

.navbar .nav>.active>a, .navbar .nav>.active>a:hover, .navbar .nav>.active>a:focus {
	background-color: #BF0503;
	color: #FFFFFF;
}

div.navbar div.navbar-inner ul.nav a:hover {
    color: #FFFFFF; 
}

.alert-danger {
  width: 400px;
}

.follow-btn {
  width: 70px;
}