body {
  padding-top: 70px;
  padding-bottom: 60px;
  font-family: Calibri, Arial, "Helvetica Nue", sans-serif;
  background-color: #D4D4D4;
  font-size: 16px;
}

div.hidden_file {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 1;
}

input.file {
  position: relative;
  text-align: right;
  -moz-opacity:0 ;
  filter:alpha(opacity: 0);
  opacity: 0;
  z-index: 2;
}

table.posts td {
  padding: 7px;
  padding-bottom: 10px;
  border-bottom: 1px gray solid;
}

table.profile td {
  padding: 7px;
  padding-bottom: 10px;
  padding-right: 30px;
}

td.center {
  text-align: center;
}

td.left {
  text-align: left;
}

#footer {
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: center;
  background: #B2B2B2;
  height: 20px;
  vertical-align: bottom;
  border-top: solid 1px gray;
  font-size: 14px;
  margin-left: auto;
  margin-right: auto;
}

#footer a:link {
  color: #333333;
}

#footer a:visited {
  color: #333333;
}

.background-img {
  background-image: url('../img/desk-main.png');
}

.bold {
  font-weight: bold;
}

.footer-text {
  padding-right: 30px;
  padding-left: 30px;
}

.left {
  text-align: left;
}

.new_post {
  width: 70%;
}




/* 
 * Override default bootstrap styles
 */
.navbar .brand {
  color: #FFFFFF;
  text-shadow: none;
}

.navbar-inner {
  background-image: linear-gradient(to bottom,#4B4B4B,#3F3F3F);
}

.navbar .nav>li>a {
  text-shadow: none;
  color: #B1B1B1;
}

.navbar .nav>.active>a, .navbar .nav>.active>a:hover, .navbar .nav>.active>a:focus {
  background-color: #BF0503;
  color: #FFFFFF;
}

div.navbar div.navbar-inner ul.nav a:hover {
  color: #FFFFFF; 
}

.alert-danger {
  width: 400px;
}

.follow-btn {
  width: 70px;
}